<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval';** ">
  <link rel="stylesheet" type="text/css" href="/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
 <div class='container'>
     {{> nav}}
     <div class='twelve column jumbotron'>
     </div>
     <div class="row">
       <div class='one-third column records-div' >
         <h1 class='record-header'>Records</h1>
         {{#each albums}}
           <p class='album-header'><strong><a href=/albums/{{id}}>{{title}}</a></strong></p>
           <p><i>{{artist}}</i></p>
           <br><br>
         {{/each}}
       </div>
       <div class='two-thirds column reviews-div'>
         <h1 class='reviews-header'>Recent Reviews</h1>

         {{#each reviews}}
         <div class="row">
           <span class='review-album-title'><a href=/albums/{{id}}>{{title}}</a></span>
           <span class='review-album-date'> <i>{{logged}}</i></span>
         </div>
         <div class='review-p'>
           {{review}}
        </div>
        <div class='review-by'>
          <i>by {{username}}</i>
        </div>
         <br>
          {{/each}}
       </div>
     </div>
 </div>
 <script type="text/javascript" src="/script.js"></script>
</body>
</html>
